<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find government contracting
                                  opportunities fast!">

    <title>@ViewBag.extraTitle - Procurement Search</title>

    <link rel="alternate" type="application/rss+xml" title="RSS"
          href="http://www.procurementsearch.com/rss">

    <environment names="Development">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.micro.min.css" asp-append-version="true" />
    </environment>

    <script type="text/javascript"
            src="http://w.sharethis.com/button/buttons.js"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55163346-3', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body>


    <div class="wrapper">
        <!-- for sticky footer -->

        <div class="header small-hide">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading rss" title="RSS Feed for all new contracts" href="/rss"><img alt="RSS Icon" src="/images/rss-icon.png"></a>
                <ul class="pure-menu-list" role="navigation">
                    @Html.Partial("Pages-nav")
                </ul>
            </div>
        </div>
	<div style="clear: both;"></div>

        @RenderBody()

        <div class="push"></div>
    </div>


    <div class="footer pure-g">
        @Html.Partial("Pages-footer")
    </div>





</body>
</html>
