<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find government contracting
                                  opporunities fast!">

    <title>Oregon Procurement Search</title>




    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript"
            src="http://w.sharethis.com/button/buttons.js"></script>

</head>
<body>


    <div class="wrapper">
        <!-- for sticky footer -->

        <div class="header small-hide">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading rss" href="/rss"><img src="/images/rss-icon.png"></a>
                <ul class="pure-menu-list">
                    @Html.Partial("Pages-nav")
                </ul>
            </div>
        </div>
	<div style="clear: both;"></div>

        @RenderBody()

        <div class="push"></div>
    </div>

    <div class="footer pure-g">

        <div class="pure-u-1 pure-u-md-1-5 l-box">
            <span class="green steve">Steve Havelka Software LLC</span>
        </div>
        <div class="pure-u-1 pure-u-md-1-5 l-box">
            1327 SE Tacoma St #110
        </div>
        <div class="pure-u-1 pure-u-md-1-6 l-box">
            Portland, OR 97202
        </div>
        <div class="pure-u-1 pure-u-md-1-6 l-box">
            503-395-5303
        </div>
        <div class="pure-u-1 pure-u-md-1-5 l-box">
            Email: <a href="mailto:help@oregonprocurementsearch.com">help @@ oregonprocurementsearch.com</a>
        </div>

    </div>





</body>
</html>
