<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find government contracting
                                  opporunities fast!">

    <title>Oregon Procurement Search</title>




    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript"
            src="http://w.sharethis.com/button/buttons.js"></script>

</head>
<body>


    <div class="wrapper">
        <!-- for sticky footer -->

        <div class="header minisearch">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading rss small-hide"
                   href="/rss"><img src="/images/rss-icon.png" alt="RSS"></a>

                <a class="pure-menu-heading logo"
                   href="/">
                    <img src="/images/OR-Logo-sm.png" alt="Home
                                                          Logo">
                </a>
                <div class="search-container">
                    <form method="get" action="/search/">
                        <input name="kw" type="text"><input type="image"
                                                            src="/images/search.png">
                    </form>
                </div>
            </div>

        </div>

        <div class="subheader small-hide">
            <div class="pure-menu pure-menu-horizontal">
                <!-- <a class="pure-menu-heading" href="">Home</a> -->
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="/content" class="pure-menu-link">News</a></li>
                    <li class="pure-menu-item"><a href="/content/about" class="pure-menu-link">About</a></li>
                    <li class="pure-menu-item"><a href="/content/faq" class="pure-menu-link">FAQ</a></li>
                    <li class="pure-menu-item"><a href="/content/what-is-rss" class="pure-menu-link">What is RSS?</a></li>
                    <li class="pure-menu-item"><a href="/content/resources" class="pure-menu-link">Resources</a></li>
                    <li class="pure-menu-item"><a href="/content/contact" class="pure-menu-link">Contact</a></li>
                </ul>
            </div>
        </div>

        @RenderBody()

        <div class="push"></div>
    </div>

    <div class="footer pure-g">

        <div class="pure-u-1 pure-u-md-1-5 l-box">
            <span class="green steve">Steve Havelka Software LLC</span>
        </div>
        <div class="pure-u-1 pure-u-md-1-5 l-box">
            1327 SE Tacoma St #110
        </div>
        <div class="pure-u-1 pure-u-md-1-6 l-box">
            Portland, OR 97202
        </div>
        <div class="pure-u-1 pure-u-md-1-6 l-box">
            503-395-5303
        </div>
        <div class="pure-u-1 pure-u-md-1-5 l-box">
            Email: <a href="mailto:help@oregonprocurementsearch.com">help @@ oregonprocurementsearch.com</a>
        </div>

    </div>





</body>
</html>
