@using SearchProcurement.Helpers

        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            @Html.Raw(Defines.LocationSettings.footerText)
        </div>

        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            <span class="listhead">Our Member Agencies</span>
            <ul>
                @foreach (var a in SiteNavHelper.getAgencies(Defines.LocationSettings.myLocationId))
                {
                <li><a class="highlight-alt" href="/search/?agency=@a.agencyId">@a.name</a></li>
                }
            </ul>
            <br>
            <span class="listhead">Our Other Sites</span>
            <ul>
                <li><a class="highlight-alt" href="http://or.procurementsearch.com">OR.ProcurementSearch.com</a>
                <li><a class="highlight-alt" href="http://wa.procurementsearch.com">WA.ProcurementSearch.com</a>
                <li><a class="highlight-alt" href="http://eugene.procurementsearch.com">Eugene.ProcurementSearch.com</a>
                <li><a class="highlight-alt" href="http://pdx.procurementsearch.com">PDX.ProcurementSearch.com</a>
            </ul>                
        </div>

        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            <span class="highlight steve">Steve Havelka Software LLC</span><br>
            1327 SE Tacoma St #110<br>
            Portland, OR 97202<br>
            503-395-5303<br>
            Email: <a href="mailto:help@procurementsearch.com">help @@ procurementsearch.com</a><br><br>

            @if (Defines.LocationSettings.socialTwitter != "")
            {
            <b>Follow us on Twitter!</b><br>
            <a target="_blank" href="https://twitter.com/@Defines.LocationSettings.socialTwitter">@@@Defines.LocationSettings.socialTwitter</a><br><br>
            }
            @if (Defines.LocationSettings.socialFacebook != "")
            {
            <b>And on Facebook!</b><br>
            <a target="_blank" href="https://www.facebook.com/@Defines.LocationSettings.socialFacebook/">@Defines.LocationSettings.siteTitle on Facebook</a>
            }
        </div>