<li class="pure-menu-item"><a href="/Home/MyAccount" class="pure-menu-link">Vendor</a></li>
<li class="pure-menu-item"><a href="/Home/MyAccount" class="pure-menu-link">Agency</a></li>
<li class="pure-menu-item"><a href="/Home/MyAccount" class="pure-menu-link">Help</a></li>
