<li class="pure-menu-item"><a href="//blog.procurementsearch.com/about" class="pure-menu-link">About</a></li>
<li class="pure-menu-item"><a href="//blog.procurementsearch.com/careers" class="pure-menu-link">Careers</a></li>
<li class="pure-menu-item"><a href="//blog.procurementsearch.com" class="pure-menu-link">News</a></li>
