                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">News</a></li>
                    <li><a href="/blog/about">About</a></li>
                    <li><a href="/blog/faq">FAQ</a></li>
                    <li><a href="/blog/what-is-rss">What is RSS?</a></li>
                    <li><a href="/blog/resources">Resources</a></li>
                    <li><a href="/blog/contact">Contact</a></li>
