<li class="pure-menu-item"><a href="/blog/about" class="pure-menu-link">About</a></li>
<li class="pure-menu-item"><a href="/blog/careers" class="pure-menu-link">Careers</a></li>
<li class="pure-menu-item"><a href="/blog" class="pure-menu-link">News</a></li>
