        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            <b>ProcurementSearch.com is your one-stop shop for
            discovering government contracting opportunities.</b><br><br>
            You can search for and find up-to-date procurement
            opportunities and open RFPs with any of our member agencies.<br><br>
            Whatever business you're in, you can find out who's
            buying what you're selling.<br><br>
        </div>

        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            <span class="listhead">Our Member Agencies</span>
            <ul>
                <li><a class="green" href="/search/?agency=12">Chemeketa Community College</a></li>
                <li><a class="green" href="/search/?agency=10">City of Beaverton</a></li>
                <li><a class="green" href="/search/?agency=3">City of Portland</a></li>
                <li><a class="green" href="/search/?agency=17">Lane Transit District</a></li>
                <li><a class="green" href="/search/?agency=6">Multnomah County</a></li>
                <li><a class="green" href="/search/?agency=11">Oregon Department of Corrections</a></li>
                <li><a class="green" href="/search/?agency=14">Oregon Department of Transportation</a></li>
                <li><a class="green" href="/search/?agency=2">Oregon Metro</a></li>
                <li><a class="green" href="/search/?agency=13">Port of Portland</a></li>
                <li><a class="green" href="/search/?agency=1">Portland Development Commission</a></li>
                <li><a class="green" href="/search/?agency=16">Portland Public Schools</a></li>
                <li><a class="green" href="/search/?agency=8">Portland State University</a></li>
                <li><a class="green" href="/search/?agency=4">TriMet</a></li>
            </ul>
            <br>
            <span class="listhead">Our Other Sites</span>
            <ul>
                <li><a class="green" href="http://or.procurementsearch.com">OR.ProcurementSearch.com</a>
                <li><a class="green" href="http://wa.procurementsearch.com">WA.ProcurementSearch.com</a>
                <li><a class="green" href="http://eugene.procurementsearch.com">Eugene.ProcurementSearch.com</a>
                <li><a class="green" href="http://pdx.procurementsearch.com">PDX.ProcurementSearch.com</a>
            </ul>                
        </div>

        <div class="pure-u-1 pure-u-md-1-3 l2-box">
            <span class="green steve">Steve Havelka Software LLC</span><br>
            1327 SE Tacoma St #110<br>
            Portland, OR 97202<br>
            503-395-5303<br>
            Email: <a href="mailto:help@procurementsearch.com">help @@ procurementsearch.com</a><br><br>
            <b>Follow us on Twitter!</b><br>
            <a target="_blank" href="https://twitter.com/AllProcurements">@@AllProcurements</a><br><br>
            <b>And on Facebook!</b><br>
            <a target="_blank" href="https://www.facebook.com/Procurement-Search-616373855229676/">Procurement Search on Facebook</a>
        </div>