<div class="minisearch mobile-hide">
    <form method="get" action="/search/" role="search">
        <a class="logo" href="/"><img src="/images/logo-sm.png" alt="Home"></a>
        <input name="kw" type="text" title="Search">
        <button type="submit" id="mini-search" class="pure-button button-primary">search</button>
    </form>
</div>

<div class="minisearch full-hide">
    <form method="get" action="/search/" role="search">
        <a class="logo" href="/"><img src="/images/logo-sm.png" alt="Home"></a>
        <input name="kw" type="text" title="Search">
        <button type="submit" id="mini-search" class="pure-button button-primary"><i class="fas fa-search"></i></button>
    </form>
</div>
