
<div class="view-box">
    <h1>
        Welcome, @Model.UserRealName!
    </h1>
    <h2>
        @Model.AgencyName
    </h2>
    <p class="account-nav"><a href="/account/MyAccount">Edit my account</a></p>

    <div class="my-rfps">
        <h2>Current RFPs - 1 open, 1 disabled</h2>
        <p>
            These are your current RFPs.  When an RFP closes, or when you manually disable it, it moves from this table to the inactive RFP table below.
        </p>
        <p>
            &raquo; <a href="/account/newRFP">Start a new RFP</a>
        </p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Close Date</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a target="_blank" href="/account/editRfp?id=1">My Nice RFP</a></td>
                    <td>Open</td>
                    <td>4/2/1978</td>
                    <td style="text-align: center;">
                        <a href="" alt="Clone RFP"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="" alt="Disable RFP - can be reopened"><img src="/images/icons/database_gear.png"><br>Disable</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="" alt="Close RFP Now"><img src="/images/icons/database_delete.png"><br>Close</a>
                    </td>
                </tr>
                <tr>
                    <td><a target="_blank" href="/account/editRfp?id=1">My in-progress RFP</a></td>
                    <td>In-progress</td>
                    <td>4/2/1978</td>
                    <td style="text-align: center;">
                        <a href="" alt="Clone RFP"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="" alt="Disable RFP - can be reopened"><img src="/images/icons/database_gear.png"><br>Disable</a>
                    </td>
                    <td style="text-align: center;">
                        <a href="" alt="Close RFP Now"><img src="/images/icons/database_delete.png"><br>Close</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Historical RFPs - 1 ended</h2>
        <p>
            These are your inactive RFPs.  You can't reopen any of these, but you can clone one and open a new RFP.
        </p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Close Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a target="_blank" href="/account/editRfp?id=1">My closed RFP</a>
                    </td>
                    <td>Closed</td>
                    <td>4/2/1978</td>
                    <td style="text-align: center;">
                        <a href="" alt="Clone RFP"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="/account/editRfp?id=1">My canceled RFP</a>
                    </td>
                    <td>Canceled</td>
                    <td>4/2/1978</td>
                    <td style="text-align: center;">
                        <a href="" alt="Clone RFP"><img src="/images/icons/database_lightning.png"><br>Clone</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
