@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="view-box">
    <h1>Your Buyer/PM Account</h1>

    @if( ViewBag.message != null && ViewBag.message != "" )
    {
        <div class="message">@ViewBag.message <a href="/account">Click here to return to your account.</a></div>
    }

    <form class="pure-form pure-form-stacked" id="account" method="POST" action="/account/MyAccount">
    @Html.AntiForgeryToken()

        <fieldset>
            <legend>About You</legend>

            <p><i>Since you're the person setting up the account, we'd like to know a little about you.</i></p>

            <label asp-for="UserRealName"></label>
            <input asp-for="UserRealName" class="pure-u-23-24" placeholder="" required data-parsley-errors-messages-disabled="true">
            <span class="pure-form-message">This is a required field.</span>

            <label asp-for="UserEmailAddress"></label>
            <input asp-for="UserEmailAddress" class="pure-u-23-24" placeholder="" required data-parsley-errors-messages-disabled="true" data-parsley-type="email" data-parsley-remote="/account/checkEmail?email={value}">
            <span class="pure-form-message">This is a required field.</span>
        </fieldset>

        <fieldset>
            <legend>About Your Agency</legend>

            <label asp-for="AgencyName"></label>
            <input asp-for="AgencyName" class="pure-u-23-24" placeholder="" required data-parsley-errors-messages-disabled="true">
            <span class="pure-form-message">This is a required field.</span>

            <p>
                You're registered as a
                @if (Model.AgencyType == SearchProcurement.Helpers.AgencyTypes.GovernmentNP)
                {
                <b>Government/Non-profit</b>
                }
                else if (Model.AgencyType == SearchProcurement.Helpers.AgencyTypes.TribalGovt)
                {
                <b>Tribal Government/Organization</b>
                }
                else
                {
                <b>Private Sector</b>
                }
                agency.  If you think this is incorrect, please call us at 503-395-5303.
            </p>

            <label asp-for="AgencyAboutText"></label>
            <textarea asp-for="AgencyAboutText" class="pure-u-23-24" rows=5></textarea>
            <span class="pure-form-message">This is not a required field.  You can leave this blank and change it later.</span>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="AgencyUrl"></label>
                    <input asp-for="AgencyUrl" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="AgencyLogo">Your Agency Logo</label>
                    <input type="button" class="pure-button pure-button-secondary" id="croppie_show" value="Upload Logo" />

                    <div id="croppie_modal" style="display: none;">
                        <a class="pure-button pure-button-secondary file-button">
                            <span>Choose a file</span>
                            <input type="file" id="croppie_upload" value="Choose a file" accept="image/*" />
                        </a>
                        <input type="button" class="pure-button pure-button-secondary croppie_save" value="Save Logo"/>
                        <input type="button" class="pure-button pure-button-secondary" id="croppie_remove" value="Remove Logo"/>
                        <div class="upload-msg">
                            Upload a logo.  If you need to resize it, you can do so here.
                        </div>
                        <div class="upload-demo-wrap">
                            <div id="croppie"></div>
                        </div>
                    </div>
                    <div id="logo_preview" style="padding: 1em;">
                    @if ( !String.IsNullOrEmpty(Model.AgencyLogo) )
                    {
                    <p id="oldLogo">Uploaded logo:</p><img src="@Model.AgencyLogo">
                    }
                    </div>
                    <input type="hidden" name="removeOldLogo" id="removeOldLogo" value="0">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Agency Contact Information</legend>

            <p><i>This is how vendors will reach your agency if they have questions.</i></p>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="AgencyContactName"></label>
                    <input asp-for="AgencyContactName" class="pure-u-23-24" placeholder="">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="AgencyContactEmail"></label>
                    <input asp-for="AgencyContactEmail" class="pure-u-23-24" placeholder="">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="AgencyPhone"></label>
                    <input asp-for="AgencyPhone" class="pure-u-23-24" placeholder="">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="AgencyFax"></label>
                    <input asp-for="AgencyFax" class="pure-u-23-24" placeholder="">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Agency Address</legend>
            <p><i>Where is your office physically located?</i></p>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.Address1">Street Address</label>
                    <input asp-for="ShippingAddress.Address1" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.Address2">Street Address 2</label>
                    <input asp-for="ShippingAddress.Address2" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.City">City</label>
                    <input asp-for="ShippingAddress.City" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.State">State</label>
                    <select class="pure-u-23-24" asp-for="ShippingAddress.State" asp-items="Model.States"></select>
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.Country">Country</label>
                    <select class="pure-u-23-24" asp-for="ShippingAddress.Country" asp-items="Model.Countries"></select>
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="ShippingAddress.Postal">Zip/Postal Code</label>
                    <input asp-for="ShippingAddress.Postal" class="pure-u-23-24">
                </div>
            </div>

            <p>
                <i>What is your mailing address?  If it's the same as your physical address, check here.</i>
                <input type="checkbox" id="billing_same_as_shipping">
            </p>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.Address1">Street Address</label>
                    <input asp-for="BillingAddress.Address1" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.Address2">Street Address 2</label>
                    <input asp-for="BillingAddress.Address2" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.City">City</label>
                    <input asp-for="BillingAddress.City" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.State">State</label>
                    <select class="pure-u-23-24" asp-for="BillingAddress.State" asp-items="Model.States"></select>
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.Country">Country</label>
                    <select class="pure-u-23-24" asp-for="BillingAddress.Country" asp-items="Model.Countries"></select>
                </div>

                <div class="pure-u-1 pure-u-md-1-3">
                    <label asp-for="BillingAddress.Postal">Zip/Postal Code</label>
                    <input asp-for="BillingAddress.Postal" class="pure-u-23-24">
                </div>
            </div>

        </fieldset>

        <input type="hidden" name="logoData">
        <input type="hidden" name="logoName">
        <button type="submit" class="pure-button pure-button-primary">Update your information</button>

    </form>

</div>



<script type="text/javascript">
$(function () {

  $('#account').parsley().on('field:validated', function() {
    if (this.validationResult === true) {
      this.$element.nextAll('.pure-form-message').first().removeClass('red');
    } else {
      this.$element.nextAll('.pure-form-message').first().addClass('red');
    }
  })
  .on('form:submit', function() {
    // return false; // Don't submit form for this demo
  });


  // Billing same as shipping checkbox
  $('#billing_same_as_shipping').change(function(){
    if( this.checked ) {
      $('#BillingAddress_Address1').val($('#ShippingAddress_Address1').val());
      $('#BillingAddress_Address2').val($('#ShippingAddress_Address2').val());
      $('#BillingAddress_City').val($('#ShippingAddress_City').val());
      $('#BillingAddress_State').val($('#ShippingAddress_State').val());
      $('#BillingAddress_Country').val($('#ShippingAddress_Country').val());
      $('#BillingAddress_Postal').val($('#ShippingAddress_Postal').val());
    }
  });



  // Set up croppie
  var $hid = $('#croppie_modal');
  var $hid_btn = $('#croppie_show');
  var $hid_remove = $('#logo_modal');
  var $uploadCrop = $('#croppie').croppie({
    viewport: {
      width: 175,
      height: 175,
      type: 'circle'
    },
    boundary: {
      width: 200,
      height: 200
    }
  });

  function readFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $uploadCrop.croppie('bind', {
          url: e.target.result
        }).then(function(){
          console.log('jQuery bind complete');
        });
      }
      reader.readAsDataURL(input.files[0]);
      // And save the logo name, for uploading
      $('input[name=logoName]').val(input.files[0].name);
    } else {
      swal("Sorry - you're browser doesn't support the FileReader API");
    }
  }

  $('#croppie_upload').on('change', function () { readFile(this); });
  $('.croppie_save').on('click', function (ev) {
    $uploadCrop.croppie('result', {
      type: 'base64',
      size: 'viewport'
    }).then(function (resp) {
      $('#logo_preview').empty().append('<p>Uploaded logo:</p><img src="' + resp + '">');
      $('input[name=logoData]').val(resp);
      $('input[name=removeOldLogo]').val('0');
      $hid.toggle();
      $hid_btn.toggle();
    });
  });

  $('#croppie_show').on('click', function () {
    $hid.toggle();
    $hid_btn.toggle();
    $uploadCrop.croppie('bind');
  });

  $('#croppie_remove').on('click', function(){
    $uploadCrop.croppie('bind', { url: ''});
    $('#logo_preview').empty();
    $('input[name=logoData]').val('');
    $('input[name=logoName]').val('');
    $('input[name=removeOldLogo]').val('1');
    $hid.toggle();
    $hid_btn.toggle();
  });

});

</script>
