@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="view-box">
    <h1>Setting up your Buyer/PM Account</h1>
    <h2>All done!</h2>
    <p>
        That's it!  You've got an account on ProcurementSearch.com.
    </p>
    <p>
        Click here to head to your account page: <a href="/account">my account</a>.
    </p>
</div>



