@using SearchProcurement.Models
@model Account

<div class="view-box">
    <h1>Starting a new RFP</h1>

    <div>You have unlimited posting to these states: OR, WA.</div>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <p>Post a contract with a single scope of work.</p>
            <p>You can still attach as many documents as you need.</p>
            <p>Your cost: $@Price.loadPrice(Model.AgencyType, "single")</p>

            <form action="/account/ChargeSingle" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_IKl6YnYvLi0eKY1lPA3upGMV"
                data-amount="@(Price.loadPrice(Model.AgencyType, "single") * 100)"
                data-name="Steve Havelka Software LLC"
                data-description="Posting an RFP"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
            </form>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <p>Post a contract with multiple scopes of work.</p>
            <p>Each scope of work will refer back to the parent contract.</p>
            <p>Your cost: $@Price.loadPrice(Model.AgencyType, "umbrella")</p>

            <form action="/account/ChargeUmbrella" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_IKl6YnYvLi0eKY1lPA3upGMV"
                data-amount="@(Price.loadPrice(Model.AgencyType, "umbrella") * 100)"
                data-name="Steve Havelka Software LLC"
                data-description="Posting an RFP with subcontracts"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
            </form>
        </div>
    </div>

</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
