@model SearchProcurement.Models.Account

<div class="view-box">
    <h1>Starting a new RFP</h1>

    <div>You have unlimited posting to these states: OR, WA.</div>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <p>Post a contract with a single scope of work.</p>
            <p>You can still attach as many documents as you need.</p>
            <p>Your cost: $197 ($97)</p>

            <form action="/your-server-side-code" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_IKl6YnYvLi0eKY1lPA3upGMV"
                data-amount="197.00"
                data-name="Steve Havelka Software LLC"
                data-description="Posting an RFP"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
            </form>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <p>Post a contract with multiple scopes of work.</p>
            <p>Each scope of work will refer back to the parent contract.</p>
            <p>Your cost: $497 ($797)</p>

            <form action="/your-server-side-code" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_IKl6YnYvLi0eKY1lPA3upGMV"
                data-amount="497.00"
                data-name="Steve Havelka Software LLC"
                data-description="Posting an RFP with subcontracts"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
            </form>
        </div>
    </div>

</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {

  $('#account').parsley().on('field:validated', function() {
    if (this.validationResult === true) {
      this.$element.nextAll('.pure-form-message').first().removeClass('red');
    } else {
      this.$element.nextAll('.pure-form-message').first().addClass('red');
    }
  })
  .on('form:submit', function() {
    // return false; // Don't submit form for this demo
  });


  // Billing same as shipping checkbox
  $('#billing_same_as_shipping').change(function(){
    if( this.checked ) {
      $('#BillingAddress_Address1').val($('#ShippingAddress_Address1').val());
      $('#BillingAddress_Address2').val($('#ShippingAddress_Address2').val());
      $('#BillingAddress_City').val($('#ShippingAddress_City').val());
      $('#BillingAddress_State').val($('#ShippingAddress_State').val());
      $('#BillingAddress_Country').val($('#ShippingAddress_Country').val());
      $('#BillingAddress_Postal').val($('#ShippingAddress_Postal').val());
    }
  });



  // Set up croppie
  var $hid = $('#croppie_modal');
  var $hid_btn = $('#croppie_show');
  var $hid_remove = $('#logo_modal');
  var $uploadCrop = $('#croppie').croppie({
    viewport: {
      width: 175,
      height: 175,
      type: 'circle'
    },
    boundary: {
      width: 200,
      height: 200
    }
  });

  function readFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $uploadCrop.croppie('bind', {
          url: e.target.result
        }).then(function(){
          console.log('jQuery bind complete');
        });
      }
      reader.readAsDataURL(input.files[0]);
    } else {
      swal("Sorry - you're browser doesn't support the FileReader API");
    }
  }

  $('#croppie_upload').on('change', function () { readFile(this); });
  $('.croppie_save').on('click', function (ev) {
    $uploadCrop.croppie('result', {
      type: 'base64',
      size: 'viewport'
    }).then(function (resp) {
      $('#logo_preview').empty().append('<p>Uploaded logo:</p><img src="' + resp + '">');
      $('input[name=logoData]').val(resp);
      $hid.toggle();
      $hid_btn.toggle();
    });
  });

  $('#croppie_show').on('click', function () {
    $hid.toggle();
    $hid_btn.toggle();
    $uploadCrop.croppie('bind');
  });

  $('#croppie_remove').on('click', function(){
    $uploadCrop.croppie('bind', { url: ''});
    $('#logo_preview').empty();
    $('input[name=logoData]').val('');
    $hid.toggle();
    $hid_btn.toggle();
  });

});

</script>
