@model SearchProcurement.Models.Listing

<div class="view-box">
    <h1>Setting up your RFP</h1>

    <form class="pure-form pure-form-stacked" id="account" method="POST" action="/account/setupListing">
    @Html.AntiForgeryToken()

        <fieldset>
            <legend>RFP Information</legend>

            <label asp-for="Title"></label>
            <input asp-for="Title" class="pure-u-23-24" placeholder="" required data-parsley-errors-messages-disabled="true">
            <span class="pure-form-message">This is a required field.</span>

            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="pure-u-23-24" rows=5></textarea>
            <span class="pure-form-message">This is a required field.</span>

            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="OpenDate"></label>
                    <input asp-for="OpenDate" value="@(Model.OpenDate == DateTime.MinValue ? "" : Model.OpenDate.ToString("M/d/yy HH:mm"))" class="pure-u-23-24">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label asp-for="CloseDate"></label>
                    <input asp-for="CloseDate" value="@(Model.CloseDate == DateTime.MinValue ? "" : Model.CloseDate.ToString("M/d/yyyy HH:mm"))" class="pure-u-23-24">
                </div>
            </div>

            <label asp-for="Contact"></label>
            <textarea asp-for="Contact" class="pure-u-23-24" rows=3></textarea>
            <span class="pure-form-message">This is not a required field.  You can leave this blank and change it later.</span>

            <label asp-for="ActionSteps"></label>
            <textarea asp-for="ActionSteps" class="pure-u-23-24" rows=5></textarea>
            <span class="pure-form-message">This is not a required field.  You can leave this blank and change it later.</span>
        </fieldset>

        <p>That's it!  That's all we need to set up your listing on ProcurementSearch.com.</p>

        <button type="submit" class="pure-button pure-button-primary">Add Listing</button>
    </form>

</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
  $('#OpenDate, #CloseDate').datetimepicker({
    format: 'm/d/y H:i'
  });
});

</script>
