@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="view-box">
    @if (ViewBag.isNew != null && ViewBag.isNew == true)
    {
    <h1>Starting a new RFP/ITB</h1>
    <nav>
        <ol class="cd-multi-steps text-top">
            <li class="visited"><a href="#">Select Region</a></li>
            <li class="visited"><a href="#">Pay</a></li>
            <li class="visited"><a href="#">Set up Listing</a></li>
            <li class="current"><em>Done</em></li>
        </ol>
    </nav>
    }
    else
    {
    <h1>Setting up your RFP/ITB</h1>
    }
    <h2>All done!</h2>

    <p>
        That's it!  Your listing is now saved to ProcurementSearch.com.  If you've published it, and it's
        ready to go live, it'll start showing up in search results in a few minutes.
    </p>
    <p>
        Click here to return to your account page: <a href="/account">my account</a>.
    </p>
</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
