<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4 small-hide"></div>
    <div class="pure-u-1 pure-u-md-1-2 content-box">
        <div id="main-logo-container"><img src="/images/logo.png" class="pure-img" style="margin-left: auto; margin-right: auto;"></div>
        <div class="head">
            Oh no!  Something went wrong!
        </div>
        <p>Something crazy happened on our end.  We don't know what yet, but we'll get right on it!</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 small-hide"></div>
</div>
