@using SearchProcurement.Helpers

<div class="home-container">
    <div id="main-logo-container">
        <div id="main-logo-padding">
            <div id="main-logo-image"><img src="/images/logo.png" class="pure-img"></div>
            <div id="main-logo-logotype">
                procurement search
                <div id="main-logo-place">@Html.Raw(Defines.LocationSettings.homeTitle)</div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div id="main-search-container">
        <form method="get" action="/search" role="search">
            <input type="text" name="kw" placeholder="Looking for bids and RFPs?">
            <button type="submit" id="main-search" class="pure-button button-primary">search</button>
        </form>
    </div>
</div>

<div class="home-breakout">
    <h2>
        <b><a href="http://ProcurementSearch.com">ProcurementSearch.com</a></b> is your
        one-stop shop for discovering government contracting opportunities.
    </h2>
</div>

<div class="home-container">
    <div class="pure-g">
        <div class="pure-u-md-1-2 pure-u-1">
            <p class="panel_header">Want to find more contracts?</p>
            <p class="panel_text">
                Search for open procurement opportunities and RFPs
                from cities, universities, and more, quickly and
                easily.
            </p>
            <p class="panel_signup">
                <a href="/VendorInfo" class="panel_button">sign up as a vendor</a>
            </p>
        </div>
        <div class="pure-u-md-1-2 pure-u-1">
            <img src="/images/Panel1img.jpg" class="pure-img"/>
        </div>
    </div>
</div>

<div class="home-container">
    <h2 class="sliderheader">who we work with</h2>
    <div class="slider">
    @foreach (string url in ViewBag.agencyUrls)
    {
        <div><img src="@url" /></div>
    }
    </div>
</div>

<div class="home-breakout">
    <p class="pullquote">
        "It's never been easier."
    </p>
    <p class="pullquoteattrib">
        - Jerry Schneider,<br>
        HVAC Contractor,<br>
        River City Mechanical NW
    </p>
</div>


<div class="home-container">
    <div class="pure-g">
        <div class="pure-u-md-1-2 pure-u-1">
            <p class="panel_header panel_header_small">As a buyer, do you want more bids and proposals from a wider, more diverse audience?</p>
            <p class="panel_text panel_text_small">
                We're the next-generation procurement outreach platform, and we're
                excited to help your agency get your bids and opportunities out
                in front of a wider, more diverse audience.

                Want to know more?
            </p>
            <p class="panel_signup">
                <a href="/AccountInfo" class="panel_button">learn more</a>
            </p>
        </div>
        <div class="pure-u-md-1-2 pure-u-1">
            <img src="/images/panel2img.jpg" class="pure-img"/>
        </div>
    </div>
</div>


<div class="home-breakout">
    <p class="pullquote">
        "I am happy to say that Procurement Search saved us time on our outreach,
        and has expanded our outreach activities, giving us the results we were
        seeking."
    </p>
    <p class="pullquoteattrib">
         - Kimberly Mitchell-Phillips,<br>
        Small Business Development Program Manager,<br>
        Port of Portland
    </p>
</div>


<div class="home-members">
    <h2>Our Member Agencies</h2>

    @foreach (var a in SiteNavHelper.getAgencies(Defines.LocationSettings.myLocationId))
    {
        <a href="/search/?agency=@a.agencyId">@a.name</a><br>
    }

</div>


<script type="text/javascript">

jQuery(document).ready(function(){

    // set up the carousel
    $('.slider').slick({
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        centerMode: true,
        variableWidth: true,
        autoplay: true,
        autoplaySpeed: 3000
    });

});

</script>
