
<div id="main-logo-container">
    <div id="main-logo-image"><img src="/images/logo.png" class="pure-img"></div>
    <div id="main-logo-logotype">
        procurement search
        <div id="main-logo-place">@Html.Raw(Defines.LocationSettings.homeTitle)</div>
    </div>
</div>
<div style="clear: both;"></div>

<div id="main-search-container">
    <form method="get" action="/search" role="search">
        <input type="text" name="kw" placeholder="Looking for bids and RFPs?">
        <button type="submit" id="main-search" class="pure-button button-primary">search</button>
    </form>
</div>
