<div class="view-box">
    <h1>Your ProcurementSearch.com Account</h1>
    <h2>Log into your account or set up a new one.</h2>
    <p>
        There are two types of accounts on ProcurementSearch.com, depending on whether
        you're a bidder or an agency/organization.
    </p>

    <table class="pure-table" style="margin: 2em 10%;">
        <thead>
            <tr style="text-align: center;">
                <th>Bidder</th>
                <th>Agency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="50%" valign="top">
                    <b>I am searching for contracts.  I am not posting contracts or RFPs/ITBs to this site.</b>
                </td>
                <td width="50%" valign="top">
                    <b>I am posting contracts, RFPs, or ITBs to this site.</b>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    I am a bidder, and I am looking for contracts.
                    I want to set up an account to help me save my searches and manage my saved searches.
                </td>
                <td valign="top">
                    I am with a government agency, school, tribal organization, or private business and
                    I am interested in posting contracts, RFPs, and ITBs.
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <a href="/Home/ComingSoon" class="pure-button pure-button-primary button-small">Bidder</a>
                </td>
                <td align="center" valign="top">
                    <a href="/account" class="pure-button pure-button-primary button-small">Agency</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
