/* Used on account setup */
.file-button {
    position: relative;
}

.file-button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Used on listing setup */
#fileupload {
    margin: 0;
}
