/* Responsiveness for mobile */
@media screen and (max-width: 48em) {
    /* small screens */
    .small-hide {
    	display: none !important;
    }

    .details-container {
    	margin: 2em 1em 1em;
    }

    .search-rss {
    }

    .minisearch input[type=text] {
    }

    .account-container form {
    }

}

@media screen and (min-width: 48em) {
    /* large screens */
    .large-hide {
	    display: none !important;
    }

    .details-container {
    	margin: 4em 3em 2em;
    }

    .search-rss {
    	width: 60%;
    }

    .minisearch input[type=text] {
    }

    .account-container form {
    }

}
