.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

@media screen and (min-width: 800px) {
    .full-hide {
        display: none !important;
    }

    .minisearch {
        padding: 2em 3em 1em 3em;
    }

    .minisearch input[type=text] {
        height: 50px;
        font-size: 14pt;
        vertical-align: top;
        border-color: #ccc;
        color: #333;
        margin: 0;
        padding: 0 2px;
        max-width: 500px;
        width: 100%;
    }

    .minisearch .logo {
        padding-right: 10px;
        padding-top: 1em;
    }

    .minisearch form {
        padding: 1em 0;
    }

    .minisearch .search-container {
        margin-left: 1em;
        background-color: red;
    }

    #mini-search {
        margin: 0 auto 0 .5em;
        padding: 0 2em;
        height: 50px;
        vertical-align: top;
        font-family: 'metropolissemi_bold';
    }

    .search-results {
        margin: 1.5em 6em;
        padding-bottom: 2em;
    }

    .search-options {
        margin: 0em 5.5em;
    }

    .search-options span::after {
        font-family: FontAwesome;
        content: " \f0d7";
    }

}


@media screen and (max-width: 799px) {
    .mobile-hide {
        display: none !important;
    }

    .minisearch {
        padding: 2em 3em 1em 3em;
    }

    .minisearch input[type=text] {
        height: 50px;
        font-size: 14pt;
        vertical-align: top;
        border-color: #ccc;
        color: #333;
        margin: 0;
        padding: 0 2px;
        max-width: 500px;
        width: calc(90% - 100px);
    }

    .minisearch .logo {
        padding-right: 10px;
        padding-top: 1em;
    }

    .minisearch form {
        padding: 1em 0;
    }

    .minisearch .search-container {
        margin-left: 1em;
        background-color: red;
    }

    #mini-search {
        margin: 0 0 0 -4px;
        padding: 0 .4em;
        height: 50px;
        vertical-align: top;
        font-size: 24pt;
        font-family: 'metropolissemi_bold';
    }


    .search-results {
        margin: 1.5em 2em;
        padding-bottom: 2em;
    }

    .search-options {
        margin: 0em 1.5em;
    }

    .search-options span::after {
        font-family: FontAwesome;
        content: " \f0d7";
    }

}


@media screen and (max-width: 500px) {
    .search-options span::after {
        font-family: FontAwesome;
        content: " \f0d7\a";
        white-space: pre;
    }
}




.agency-header {
    margin: 1em;
}

.search-options span {
    margin-right: 20px;
    padding: .5em;
}

.search-results .head {
    font-size: 18pt;
    color: #4B4642;
}

.search-results .count {
}

.search-results .save a {
    color: #dc6d42;
    font-weight: bold;
    text-decoration: none;
}

.search-results .results {
    font-size: 14pt;
    text-decoration: none;
}

.search-results .results .item {
    margin-top: 40px;
}

.search-results .results .item .title {
    font-weight: bold;
}

.search-results .results .item .title a {
    color: #008e81;
    text-decoration: none;
}

.search-results .results .item .preview {
    font-size: 12pt;
    margin: .5em auto;
    color: #333;
}

.search-results .results .item .link a {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #008e81;
}

.search-results .results .item .source a {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #008e81;
}

.search-options-overlay {
    display: none;
    position: absolute;
    width: fit-content;
    border: solid thin black;
    background-color: white;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.search-options-overlay .smallpad {
    padding: 2px;
    font-size: 90%;
}

.search-options-overlay .parent {
    display: grid;
    grid-template-columns: 1fr 32px;
}

.search-options-overlay .parent .options {
    white-space: nowrap;
}

.search-options-overlay .parent .check {
    padding-left: 10px;
}