/* styles begin here */
.small {
    font-size: 85%;
}

/* Some styles on Pure buttons */
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

body, .modal {
    color: #555;
    background-color: #fff;
}

.modal {
    max-width: inherit;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    border: solid thin #333;
    color: #777;
    box-sizing: border-box;
    border-radius: 2px;
    outline: medium none;
}

.attention {
    font-weight: bold;
}

.header .rss {
    float: right;
}

.header .pure-menu {
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em 1em;
}

#main-logo-container {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

/* Colors and highlights */

.highlight { /* variant:  home page, footer, some text on search page */
    color: #fff;
}

.highlight-alt { /* variant:  footer */
    color: #fff;
}

.red {
    color: #a12;
}

a {
    color: #666;
}

.footnote p.tip {
    font-style: italic;
    font-size: 10.5pt;
    padding-top: 2em;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.l2-box {
    padding: 1.5em;
}

.footer, .footer a {
    color: #fff;
}

.footer .listhead {
    font-weight: bold;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style-type: none;
    font-size: 9pt;
    line-height: 150%;
}

.footer {
    background: #03B5A5;
    font-size: 10.5pt;
}

.footer .steve {
    font-weight: 600;
}

.account-content {

}

.content-box .head {
    font-size: 26pt;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
}

.content-box input {
    width: 95%;
    font-size: 18pt;
    padding: 6px 4px;
}

.content-box button {
    margin: 1em auto 0 auto;
}

.content-box form {
    text-align: center;
}

.content-box p {
    font-size: 10.5pt;
    margin: 1em auto;
}

.content-box ul li {
    font-size: 10.5pt;
}

.content-box p.tip {
    font-style: italic;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: #B1AAA0;
}

.view-box h2 {
    font-size: 17pt;
    font-weight: bold;
    margin: 1em auto;
}

.view-box .title {
    font-size: 16pt;
    margin: 1em auto;
}

.view-box .subtitle {
    font-size: 14pt;
    margin-bottom: .5em;
}

.view-box iframe {
    margin: 1em auto;
    width: 99%;
    height: 300px;
    border: solid thin black;
}

.view-box .view-action-steps {
    line-height: 150%;
    font-size: 14pt;
}

.view-box .view-action-steps ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 1em;
}

.view-box .snippets {
    padding-bottom: 1em;
}

.view-box .snippets dl {
    padding: .5em;
}

.view-box .snippets dl dt {
    font-weight: bold;
}

.view-box .snippets dl dd {
    padding-left: .5em;
    padding-bottom: .5em;
    font-style: italic;
}

.view-box .description {
    border: solid thin #4B4642;
    padding: .5em;
    overflow-y: scroll;
}

.view-box .subcontracts {
    padding-bottom: 1em;
}

.view-box .attachments {
    padding-bottom: 1em;
}

.view-box .attachments p {
    font-size: 13pt;
}

.view-box .subcontracts p {
    font-size: 13pt;
}

.view-box p {
    margin: 1em auto;
}

.view-box .share-title {
    font-size: 14pt;
    font-weight: bold;
}

.view-box .pure-form fieldset {
    margin-top: 2em;
}

.view-box .pure-form fieldset legend {
    font-size: 16pt;
}

.view-box .message {
    padding: 1em;
    margin: 1em auto;
    background-color: #ccc;
    color: #a12;
    border: solid thin #4B4642;
}


/* INCLUDE SEARCH */
/* INCLUDE HAMBURGER MENU */
/* INCLUDE ACCOUNT */
/* INCLUDE PROGRESS BAR */
/* INCLUDE LISTING BREADCRUMBS */
/* INCLUDE MOBILE */
