/* styles begin here */
.small {
    font-size: 85%;
}

/* Some styles on Pure buttons */
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-primary {
    background: #02b6a5 !important;
    color: white !important;
}

.button-secondary {
    background: #DC6D42 !important;
    color: white !important;
}

body, .modal {
    color: #555;
    background-color: #fff;
}

.modal {
    max-width: inherit;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'metropolislight', sans-serif;
}

input[type=text] {
    border: solid thin #333;
    color: #777;
    box-sizing: border-box;
    border-radius: 2px;
    outline: medium none;
}

.attention {
    font-weight: bold;
}

.header .rss {
    float: right;
}

.header .pure-menu {
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em 1em;
}

/* Colors and highlights */

.highlight { /* variant:  home page, footer, some text on search page */
    color: #fff;
}

.highlight-alt { /* variant:  footer */
    color: #fff;
}

.red {
    color: #a12;
}

a {
    color: #666;
}

.footnote p.tip {
    font-style: italic;
    font-size: 10.5pt;
    padding-top: 2em;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.l2-box {
    padding: 1.5em;
}

.footer, .footer a {
    color: #fff;
}

.footer .listhead {
    font-weight: bold;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style-type: none;
    font-size: 9pt;
    line-height: 150%;
}

.footer {
    background: #03B5A5;
    font-size: 10.5pt;
}

.footer .steve {
    font-weight: 600;
}


/* The home page logo and search box for full-size displays */
#main-logo-place {
    margin: .5em auto;
    font-size: 14pt;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}

#main-search-container form input::placeholder {
    color: #aaa;
}

#main-search-container form {
    text-align: center;
}

#main-search-container form input {
    display: block;
    border-color: #999;
    border-width: 2px;
    width: 100%;
    font-size: 20pt;
    /* font-family: 'metropolissemi_bold'; */
    padding: 12pt 8pt;
}

#main-search {
    margin: 1em auto 0 auto;
    margin-top: 1.5em;
    font-size: 24pt;
    font-family: 'metropolissemi_bold';
    width: 50%;
}

/* Large screens */
@media screen and (min-width: 640px) {
    #main-logo-container {
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }

    #main-logo-padding {
        padding-top: 20%;
    }

    #main-logo-image {
        float: left;
        margin: 1em auto;
    }

    #main-logo-logotype {
        font-size: 41pt;
        font-weight: lighter;
        float: right;
        color: black;
    }

    #main-logo-place {
        text-align: right;
    }

    #main-search-container {
        max-width: 600px;
        margin: 2em auto;
    }
}

/* Small screens */
@media screen and (max-width: 639px) {
    #main-logo-container {
        text-align: center;
        margin: 0 1em;
    }

    #main-logo-padding {
        padding-top: 25%;
    }

    #main-logo-image {
        margin: 2em auto;
    }
    #main-logo-image img {
        display: inline;
    }

    #main-logo-logotype {
        font-size: 26pt;
        font-weight: lighter;
        color: black;
    }

    #main-search-container {
        width: 90%;
        margin: 2em auto;
    }

    #main-search {
        margin-top: 1em;
    }
}


.home-container {
    position: relative;
}

#stage1 {
    /* background-color: yellowgreen; */
}

#stage1_jump {
    position: absolute;
    left: calc(50% - 40px);
    bottom: -25px;
    width: 80px;
    height: 80px;
    text-align: center;
    color: white;
    font-size: 28pt;
    line-height: 64pt;
    background-color: #88c13c;
    border-radius: 80px;
    z-index: 100;
    cursor: pointer;
}


#stage2 {
    background-color: #88c13c;
}

#stage2 div {
    padding: 2em;
}

#stage2 div div p.stage2_title {
    color: white;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

#stage2 div div p.stage2_icon {
    color: white;
    font-weight: bold;
    font-size: 84pt;
    margin: .2em auto;
    text-align: center;
}

#stage2 div div p.stage2_text {
    color: white;
    font-size: 16pt;
    text-align: center;
}

#stage2_jump {
    padding: 0 !important;
    position: absolute;
    left: calc(50% - 40px);
    bottom: -25px;
    width: 80px;
    height: 80px;
    text-align: center;
    color: #88c13c;
    font-size: 28pt;
    line-height: 64pt;
    background-color: white;
    border-radius: 80px;
    z-index: 100;
    cursor: pointer;
}



#stage3 {
    /* background-color: red; */
}

#stage3 h2 {
    color: #00a6ca;
    font-weight: bold;
    font-size: 28pt;
    text-align: center;
    margin: 5% auto;
}

#stage3 div.slider {
    width: 80%;
    margin: 0 auto;
    border: solid 2px lightgray;
}

#stage3 div.slider div {
    padding: 2px 10px;
}

#stage3 div.slider div img {
}

#stage3 p.pullquote {
    color: #7b6f7b;
    font-size: 20pt;
    text-align: center;
    margin: 5% 20% 1em 20%;
}

#stage3 p.pullquoteattrib {
    color: #bf9ac0;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}


.slick-prev, .slick-next, .slick-prev:before, .slick-next:before {
    color: lightgray !important;
}

#stage4 {
    background-color: #00a6ca;
}
