@using SearchProcurement.Models
@using SearchProcurement.Helpers
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
    <h1>Post a new listing</h1>
    <nav>
        <ol class="cd-multi-steps text-top">
            <li class="current"><a href="#">Select Region</a></li>
            <li><a href="#">Pay</a></li>
            <li><a href="#">Set up Listing</a></li>
            <li><em>Done</em></li>
        </ol>
    </nav>

    <h2>First, let's pick a geographical region.</h2>
    <p>
        Before we go any further, please select the state where you'd like this listing to appear.
        You'll be able to pick a city or region later, too.  This is just to get us started.
    </p>

    <h2>Available states:</h2>

    @foreach (var loc in LocationHelper.getAvailableStates())
    {
        <p><a href="/Agency/newListing?locId=@loc.LocationId" class="pure-button button-small">@loc.LocationName</a></p>
    }

    <h2>Notes:</h2>
    <p>
        If your agency doesn't have an unlimited access account, you can make a payment to
        post your listing on the next screen.  Now would be a good time to find your p-card.
        You won't be able to continue without it.
    </p>

</div>



<div class="pure-g">
    <div class="pure-u-1 l-box">
        <div class="footnote">

            <div class="pages large-hide">
                <div class="head">Pages</div>
                <ul>
                    @Html.Partial("Pages-menu")
                </ul>
            </div>

            <p class="tip">
                Got questions?  Oh yes you do.
            </p>
        </div>
    </div>
</div>
