@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
    <img src="~/images/logo-100x100.png" alt="Procurement Search Logo">
    <h1>Access Denied</h1>
    <h2>That resource isn't available...</h2>
    <p>
        It looks like you've tried to access a page or resource that your
        account can't actually do.  Sorry!
    </p>
</div>



