@model SearchProcurement.Models.AgencyTeam
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
    <img src="~/images/logo-100x100.png" alt="Procurement Search Logo">
    <h1>Your Agency Buyer Account</h1>
    <h2>All done!</h2>
    <p>
        That's it!  I've saved your account information on ProcurementSearch.com.
    </p>
    <p>
        Click here to head to your account page: <a href="/Agency">my account</a>.
    </p>
</div>
