@model SearchProcurement.Models.AgencyTeam
@{
  Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
  <h1>Your Agency Buyer Account</h1>

  <form class="pure-form pure-form-aligned" id="account" method="POST" action="/Agency/MyAccountPost">
  @Html.AntiForgeryToken()

    <fieldset>
      <legend>About You</legend>

      <p><i>Since you're the person setting up the account, we'd like to know a little about you.</i></p>

      <div class="pure-control-group">
        <label asp-for="UserRealName"></label>
        <input asp-for="UserRealName" placeholder="" required data-parsley-errors-messages-disabled="true">
        <span class="pure-form-message-inline">This is a required field.</span>
      </div>
      <div class="pure-control-group">
        <label asp-for="UserEmailAddress"></label>
        <input asp-for="UserEmailAddress" placeholder="" readonly/>
        <span class="pure-form-message-inline">This can't be changed here.</span>
      </div>
    </fieldset>

    <fieldset>
      <legend>Contact Address</legend>

      <p><i>What is your contact address?</i></p>

      <div class="pure-control-group">
        <label asp-for="Contact.Address1">Address</label>
        <input asp-for="Contact.Address1">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Address2">Street Address 2</label>
        <input asp-for="Contact.Address2">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.City">City</label>
        <input asp-for="Contact.City">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.State">State</label>
        <select asp-for="Contact.State" asp-items="Model.States"></select>
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Country">Country</label>
        <select asp-for="Contact.Country" asp-items="Model.Countries"></select>
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Postal">Zip/Postal Code</label>
        <input asp-for="Contact.Postal">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Phone"></label>
        <input asp-for="Contact.Phone">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Update Your Account</button>
      </div>
    </fieldset>

  </form>

</div>



<script type="text/javascript">
$(function () {

  $('#account').parsley().on('field:validated', function() {
    if (this.validationResult === true) {
      this.$element.nextAll('.pure-form-message').first().removeClass('red');
    } else {
      this.$element.nextAll('.pure-form-message').first().addClass('red');
    }
  })
  .on('form:submit', function() {
    // return false; // Don't submit form for this demo
  });

});

</script>
