@model SearchProcurement.Models.AgencyTeam
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
  <img src="~/images/logo-100x100.png" alt="Procurement Search Logo">
  <h1>Setting up your Agency Buyer Account</h1>

  <p>
      Ready to start listing your agency's contracts, RFPs, and projects on
      ProcurementSearch.com?  You've come to the right place.  If you're an
      agency buyer, contract analyst, or anyone otherwise responsible for
      listing and maintaining your agency's RFPs and contract solicitations,
      you may set up an agency buyer account here.
  </p>

  <p>
      <span class="attention">Please note:  this account is for buyers,
      project managers, procurement analysts and managers, and anyone
      else who wants to post a contract, project, or RFP to ProcurementSearch.com.</span>
      If you're a vendor looking for opportunities, this is not the place where you'll
      set up your account.
  </p>


  @if (ViewBag.joinAgency != null)
  {
    <div class="join-team-callout">
      <h2>Pending Team Invitation</h2>

      <p>You have a pending invitation to join: <b>@ViewBag.joinAgency</b>.</p>
      <p>
        <input type="checkbox" name="joinTeam" checked> Check this box to join the team.
        Otherwise, when you proceed with setting up your buyer account, you'll be setting
        up a new agency.
      </p>
    </div>
  }




  <form class="pure-form pure-form-aligned" id="account" method="POST" action="/Agency/NewAccountPost">
  @Html.AntiForgeryToken()

    <fieldset>
      <legend>About You</legend>

      <p><i>Since you're the person setting up the account, we'd like to know a little about you.</i></p>

      <div class="pure-control-group">
        <label asp-for="UserRealName"></label>
        <input asp-for="UserRealName" placeholder="" required data-parsley-errors-messages-disabled="true">
        <span class="pure-form-message-inline">This is a required field.</span>
      </div>
      <div class="pure-control-group">
        <label asp-for="UserEmailAddress"></label>
        <input asp-for="UserEmailAddress" value="@ViewBag.verifiedEmail" readonly/>
        <span class="pure-form-message-inline">This can't be changed here.</span>
      </div>
    </fieldset>

    <fieldset>
      <legend>Contact Address</legend>

      <p><i>What is your contact address?</i></p>

      <div class="pure-control-group">
        <label asp-for="Contact.Address1">Address</label>
        <input asp-for="Contact.Address1">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Address2">Street Address 2</label>
        <input asp-for="Contact.Address2">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.City">City</label>
        <input asp-for="Contact.City">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.State">State</label>
        <select asp-for="Contact.State" asp-items="Model.States"></select>
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Country">Country</label>
        <select asp-for="Contact.Country" asp-items="Model.Countries"></select>
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Postal">Zip/Postal Code</label>
        <input asp-for="Contact.Postal">
      </div>

      <div class="pure-control-group">
        <label asp-for="Contact.Phone"></label>
        <input asp-for="Contact.Phone">
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Create Your Account</button>
      </div>
    </fieldset>

  </form>

</div>




<script type="text/javascript">
$(function () {
  $('#account').parsley().on('field:validated', function() {
    if (this.validationResult === true) {
      this.$element.nextAll('.pure-form-message').first().removeClass('red');
    } else {
      this.$element.nextAll('.pure-form-message').first().addClass('red');
    }
  })
  .on('form:submit', function() {
    // return false; // Don't submit form for this demo
  });
});

</script>
