@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
    <img src="~/images/logo-100x100.png" alt="Procurement Search Logo">
    <h1>Setting up your Agency Buyer Account</h1>
    <h2>All done!</h2>
    <p>
        That's it!  You've got an account on ProcurementSearch.com and have
        successfully joined the team: <b>@ViewBag.joinAgency</b>.
    </p>
    <p>
        Click here to head to your dashboard: <a href="/Agency">Procurement Search Dashboard</a>.
    </p>
</div>

