@model SearchProcurement.Models.Agency
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div class="account-container">
    <img src="~/images/logo-100x100.png" alt="Procurement Search Logo">
    <h1>Setting up your Agency Buyer Account</h1>
    <h2>Waiting for email verification...</h2>
    <p>
        Your account email isn't verified yet, so we can't continue setting
        up your account.  Please check your email (including spam folders)
        for your verification email, and click the link in the email when
        you see it.
    </p>
</div>



